<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
<section id="p1" class="content-section">
                <div class="section-heading">
                    <h1>Beliefs That<em> Hold You Back</em></h1>
                </div>
                <p>“I know what to do, so why don’t I do it?” Probably because you don’t believe you can.</p>
                <br>
                <p>Here are beliefs that I have heard as people explain why they do not engage in healthy pursuits.</p>
                <br>
                    <div class="section-content">
                        <div class="masonry">
                        <div class="row">
                            <ul>                 
                              <li>Many were passed on by clinical caseworkers, while others I’ve heard when presenting seminars to health professionals.
                                <br>
                                <br>
                                <ol>
                                  <li>I am too busy.</li>
                                  <li>I don’t have the time to shop for the right foods.</li>
                                  <li>I work too many hours to be able to exercise.</li>
                                  <li>I have too many children at home to take care of.</li>
                                  <li>I can’t keep track; I am too busy.</li>
                                  <li>I have too many family problems.</li>
                                  <li>Healthy eating is too expensive.</li>
                                  <li>I don’t need to exercise; I walk all day at work.</li>
                                  <li>I have a low metabolism so I can’t lose weight.</li>
                                  <li>I am under too much stress at work.</li>
                                  <li>My family cooks all the foods I like, and I can’t refuse.</li>
                                  <li>I don’t know what healthy choices are.</li>
                                  <li>I can’t stick to a strict diet.</li>
                                  <li>I live in a dangerous neighborhood so I can’t exercise.</li>
                                  <li>I lost the list of foods I need to stay away from.</li>
                                  <li>I don’t like any of the foods that are good for me.</li>
                                  <li>With the holidays, it is impossible to stick to my routine.</li>
                                  <li>I’m not the one who buys the groceries.</li>
                                  <li>I have too many other health problems.</li>
                                  <li>It is too late. I’m too old.</li>
                                  <li>I have tried every kind of exercise and diet. Nothing works.</li>
                                  <li>I just take extra insulin if I eat too much.</li>
                                  <li>My doctor never tells me that I have to lose weight.</li>
                                  <li>My scales are broken.</li>
                                  <li>My exercise bike is broken.</li>
                                  <li>I am hungry all the time.</li>
                                  <li>I am bored, and I eat all day long.</li>
                                  <li>It’s too painful to exercise.</li>
                                  <li>It’s inconvenient.</li>
                                  <li>I don’t have time.</li>
                                  <li>It’s boring.</li>
                                  <li>It’s hard to keep up.</li>
                                  <li>I’m too out of shape.</li>
                                </ol>
                              </li>

                              <li>
                                These listed reasons/excuses can be organized into 6 distinct categories:
                                <br>
                                <br>
                                <ol>
                                  <li>Lack of time (I’m too busy.)</li>
                                  <li>Lack of money (Eating healthy is too expensive.)</li>
                                  <li>Lack of knowledge (I don’t know what healthy choices are.)</li>
                                  <li>Lack of ability (I have too much pain to exercise.)</li>
                                  <li>Lack of motivation (I know what to do. I just don’t do it.)</li>
                                  <li>Lack of optimism (It is too late, and I’m too old to change.)</li>
                                </ol>
                              </li>
                            </ul>
                        </div>
                    </div>
                </div> 
                <br>
                <p>Upon further inspection, this list of 6 distinct types of excuses corresponds to the 3 major constituents of a person: Mind, Body, and Spirit.</p>  
                <br>       
                <p>Mind: Insufficient knowledge is a function of the mind. So is lack of time, of which you have plenty. The problem is how you prioritize what you do with what’s available.</p><br>
                <p>Body: Having a multitude of health problems can represent a formidable obstacle. While it doesn’t cause disease, stress can create an environment within the body making it easier for the causes of disease to rear their ugly heads.</p><br>
                <p>Spirit: Lacking the will to change can be an insurmountable obstacle if not dealt with. So is a feeling of pessimism. Chances are, the real obstacle is the belief holding you back.</p>  
                <br>
                <p>Some of these explanations are legitimate. It’s difficult to engage in healthy pursuits when you’re struggling to make it one day at a time. However, others are merely excuses for doing nothing. The following Belief Challenge Process will help you determine into which category your beliefs fall.</p>
            </section>
</div>
