<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
<section id="contact" class="content-section">                
                <div id="contact-content">
                    <div class="section-heading">
                        <h1>Additional<br><em>resources</em></h1>
                    </div>
                        <p>Related wellness techniques:</p>
                        <ul>
                            <li>Adopting Healthy Attitudes towards Conflict Resolution </li>
                            <li>Talking & Writing</li>
                            <li>Anxiety Management</li>
                        </ul>
                        <p>Add here any other resources you know of / come across:<button  style="background-color: transparent;border:none;width: 100px;margin-left:-30px;margin-top: -97px;" id="button13"><i class="fa fa-microphone" aria-hidden="true"></i></button></p>   
                    <div class="section-content">
                        <form id="contact" action="#" method="post">                                
                                <div class="col-md-12">
                                  <fieldset>
                                    <div id="column13">
<table  width="100%">
<tr>
<td><input id="subscriptionKey" type="hidden" type="text" size="40" value="bea8ac191ce041ecbcabc85e062630f5"></td>
</tr>
<tr>
<td><input type="hidden" id="serviceRegion" type="text" size="40" value="westeurope"></td>
</tr>
<tr>
<td></td>
<td></td>
<form>
<textarea style="position:relative;"  id="textarea13" name="text" cols="100" rows="10" class="form-control"></textarea>
</form>
</tr>
</table>
</div>
                                  </fieldset>
                                </div>
                                <div class="col-md-12">
                                </div>
                        </form>
                    </div>
                </div>
            </section>
</div>
<script>

    var textarea13;
    var button13;
    var b1;
    var b2;
    var b3;

    // subscription key and region for speech services.
    var subscriptionKey, serviceRegion, languageTargetOptions, languageSourceOptions;
    var SpeechSDK;
    var recognizerone;
      button13 = document.getElementById("button13");
      subscriptionKey = document.getElementById("subscriptionKey");
      serviceRegion = document.getElementById("serviceRegion");
      textarea13 = document.getElementById("textarea13");

      button13.addEventListener("click", function () {
        button13.disabled = true;
        button13.style.color="red";
        textarea13.innerHTML = "";

        if (subscriptionKey.value === "" || subscriptionKey.value === "subscription") {
          alert("Please enter your Microsoft Cognitive Services Speech subscription key!");
          button13.disabled = false;
          return;
        }
        var speechConfig = SpeechSDK.SpeechTranslationConfig.fromSubscription(subscriptionKey.value, serviceRegion.value);

        speechConfig.speechRecognitionLanguage = "en-US";
        let language = "en"
        speechConfig.addTargetLanguage(language)

        var audioConfig  = SpeechSDK.AudioConfig.fromDefaultMicrophoneInput();
        recognizerone = new SpeechSDK.TranslationRecognizer(speechConfig, audioConfig);

        recognizerone.recognizeOnceAsync(
          function (result) {
            button13.disabled = false;
            button13.style.color="black";
            let translation = result.translations.get(language);
            window.console.log(translation);
            textarea13.innerHTML += translation;

            recognizerone.close();
            recognizerone = undefined;
          },
          function (err) {
            button13.disabled = false;
            button13.style.color="black";
            textarea13.innerHTML += err;
            window.console.log(err);

            recognizerone.close();
            recognizerone = undefined;
          });
      });



      if (!!window.SpeechSDK) {
        SpeechSDK = window.SpeechSDK;
        bbutton13.disabled=false;
        button13.style.color="black";
        document.getElementById('column13').style.display = 'block';
        document.getElementById('warning').style.display = 'none';
      }

  </script>